resume-optimizer/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimize-cv",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1d3df9d1-e85c-4af8-bee6-16ea17065d21",
      "name": "Webhook",
      "webhookId": "c7fea786-6c36-4316-882f-f0a5489321af"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"max_tokens\": 800,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract Job Title, Skills, Requirements and Responsibilities. Keep the answer concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{$json.description.slice(0,2500).toJsonString()}}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        0
      ],
      "id": "1430f9f6-5a06-4042-ac7d-99a0c4aa764f",
      "name": "Job Description Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"max_tokens\": 1500,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Rewrite this resume to match the job description. ATS optimized Professional Strong bullet points. Clear structure. Do NOT invent experience. Return a full resume. Do not add any notes, disclaimers, or meta-commentary at the end. Return only the resume itself.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{$('Resume Parser').item.json.choices[0].message.content.toJsonString()}}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{$json.choices[0].message.content.toJsonString()}}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2160,
        0
      ],
      "id": "3903125f-3aee-4c4d-ad1b-37c7bdaf3116",
      "name": "CV Optimizer Agent"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "ace47447-5774-492d-80aa-30c1f75db893",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract structured resume information including skills, projects, education and experience.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{$json.text.toJsonString()}}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "29178ef0-e8c9-4822-bd4c-7e20389bbe0b",
      "name": "Resume Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bebity~linkedin-jobs-scraper/runs?token=",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"keywords\": \"{{ $('Webhook').item.json.body.role }}\",\n \"location\": \"{{ $('Webhook').item.json.body.location }}\",\n \"preference\": \"{{ $('Webhook').item.json.body.work_preference }}\",\n \"maxItems\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        0
      ],
      "id": "cc0c1656-15c8-465b-9ab9-b7c8d906d95c",
      "name": "Apify LinkedIn Jobs"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        0
      ],
      "id": "46111bb6-a65f-42a6-8124-99f981a72f83",
      "name": "Get Jobs Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "maxItems": "=1"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ],
      "id": "4848d05d-6c31-4d4a-b30f-5c45aa1a8542",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\n\nconst body = content\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\* \\*\\*(.*?)\\*\\*/g, '• <strong>$1</strong>')\n  .replace(/^\\* /gm, '• ')\n  .replace(/^- /gm, '• ')\n  .split('\\n')\n  .join('<br>');\n\nconst html = '<html><body style=\"font-family:Arial,sans-serif;padding:40px;max-width:800px;margin:auto;\">' + body + '</body></html>';\n\nreturn [{ json: { html: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        0
      ],
      "id": "c1d11e7d-570e-42ed-89a1-addfafd4f3c8",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}",
        "output_format": "file",
        "output_filename": "Optimized_CV"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        2576,
        0
      ],
      "id": "59720985-d0c8-4f9d-9dad-bad2a7e94420",
      "name": "Convert HTML to PDF",
      "credentials": {}
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        0
      ],
      "id": "470a0ba9-bdcf-41b6-bbbc-f74c3279720b",
      "name": "Wait",
      "webhookId": "d001f3fe-eda7-490a-8d0f-abf823dcdb10"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2784,
        0
      ],
      "id": "751da70e-cdef-4128-8b39-010d2cd3602b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        0
      ],
      "id": "de03b5e9-d95e-4289-b79d-588d7fc0ff05",
      "name": "Wait1",
      "webhookId": "066d24f0-9550-410a-8f9f-c587604be880"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1952,
        0
      ],
      "id": "f794ae02-86fd-4731-8232-45b3e1180b20",
      "name": "Wait2",
      "webhookId": "d35f6374-f413-4606-aea4-c2169baca978"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Description Agent": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Resume Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Parser": {
      "main": [
        [
          {
            "node": "Apify LinkedIn Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Optimizer Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify LinkedIn Jobs": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Job Description Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Jobs Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "CV Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dd22102e-50ea-4785-befa-75a7b2d694c3",
  "meta": {
    "instanceId": "997ce5218ac425f9e0b889820d3d02cc47bad0ea49ab45b58537999b3e49c6e9"
  },
  "id": "cpY2MGaDThPTSpai",
  "tags": []
}
